body {
  background-color: #ffb0d1;
  transition: 1.2s;
}

@media only screen and (min-width: 1000px) {
  .overall {
    margin-left: -2%;
  }
}

.overall {
  margin-left: -2%;
}

.dots {
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin-top: 15%;
  display: flex;
}

.pri-words {
  margin-top: 2%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 140%;

  color: #ffffff;
}

.pri-col {
  margin-top: 12%;
}

#box1 {
  display: flex;
  margin: -30%;
}

.boxitem {
  margin: 15.5%;
}

.sec-words {
  font-family: Roboto;
  font-style: normal;
  font-size: 20px;
  line-height: 140%;

  color: #ffffff;
}

.sec-first {
  margin-top: 10px;
}

.sec-list {
  margin-top: 31px;
}

.research {
  margin-top: 25px;
}

.sec-col {
  margin-top: 6%;
}

.slanted {
  font-style: italic;
  font-weight: 300;
}

.clickable {
  margin-left: 0%;
}

.box2 {
  margin-top: 12%;
}

.box3 {
  margin-top: 8%;
}

.ter-words {
  font-family: Roboto;
  font-style: normal;
  font-size: 18px;
  line-height: 140%;

  color: #ffffff;
}

.faded {
  color: rgba(255, 255, 255, 0.3);
}

.dots2 {
  margin-right: auto;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 140%;
  /* or 98px */
  color: #ffffff;
  margin-top: 1%;
}

.header2 {
  margin-top: 30%;
  display: flex;
}

.subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 140%;
  /* or 38px */

  color: #ffffff;
}

.test {
  width: 90%;
  height: 90%;
  margin-top: 10%;
  margin-left: 5%;
}

div {
  white-space: pre-wrap;
}
