body {
  background-color: #ffb0d1;
}

.overall {
  margin-left: -0.6%;
}

.dots {
  margin-right: 20%;
}

.header {
  margin-top: 15%;
}

.pri-words {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 140%;

  color: #ffffff;
  margin-left: 10%;
}

.pri-col {
  margin-top: 22%;
}

#box1 {
  display: flex;
  margin: -30%;
}

.boxitem {
  margin: 18%;
}

.sec-words {
  font-family: Roboto;
  font-style: normal;
  font-size: 20px;
  line-height: 140%;

  color: #ffffff;
  margin-left: 10%;
}

.sec-first {
  margin-top: 10px;
}

.sec-list {
  margin-top: 31px;
}

.sec-col {
  margin-top: 22%;
}

.slanted {
  font-style: italic;
  font-weight: 300;
}

.clickable {
  margin-left: 0%;
}

.box2 {
  margin-top: 18%;
}
